
#home {
  background-image: url('/media/background2.jpg');
}

h1, h2{
  font-family: 'Pacifico', cursive;
}

body {
  background-image: url('/media/cartoon_dog1.jpg');
}


/*********************
Footer
**********************/

footer {
  font-family: 'Fredoka One', cursive;
  background-color: #A0A0A0;
  padding: 10px;
  text-align: center;
  color: rgb(224, 224, 224);
  font-size: 17px;
  margin: 0;
}
