#home {
  background-image: url('/media/background2.jpg');
}

h1, h2{
  font-family: 'Pacifico', cursive;
}

body {
  background-image: url('/media/cartoon_dog1.jpg');
}

main {
  min-height: calc(100vh - 86px);
}
/*********************
Footer
**********************/

footer {
  font-family: 'Fredoka One', cursive;
  background-color: #A0A0A0;
  padding: 5px;
  text-align: center;
  color: rgb(224, 224, 224);
  font-size: 15px;
  margin: 0;
}

a > .navbar-item {
  margin-bottom: 0;
}


.level{
  background-color: #fff;
  width: 400px;
  display: flex;
  padding-left: 20px;
}

#contenido{
  background-color: #fff;
  width: 600px;
  display: flex;
  padding-top: 70px;
  padding-left: 20px;
}


td, tr{
  padding-bottom: 10px;
  border: 5px solid white;
}

table{
  margin-left: 60px;
}


/*Effect to move the image*/
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
/*Effect to move the image*/
.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


.audio{
  background-color: white;
}


.select-class-name__control{
  width: 100px;
}
